.social-share {
    position: absolute;
    vertical-align: top;
    top: 0;
    right: 0;
    border: 0;
    z-index: 10000;
}

.social-share .ribbon-container {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 140px;
    height: 140px;
}

.social-share .btn-group {
    position: absolute;
    top: 0;
    right: 140px;
}

.social-share .ribbon {
    width: 200px;
    text-align: center;
    position: absolute;
    background: gray;
    border-top: black dashed 2px;
    border-bottom: black dashed 2px;
    color: whitesmoke;
    top: 45px;
    right: -45px;
    z-index: 10000;
    transform: rotate(45deg);
    opacity: 0.6;
}

.social-share .ribbon:hover {
    opacity: 1;
    cursor: pointer;
}

.social-share .ribbon a {
    text-decoration: none;
    color: whitesmoke;
}

ul.virtual {
    list-style-type: none;
}

.tooltip-inner {
    white-space: pre-wrap;
    max-width: 100%;
}

.card-header {
    cursor: default;
}

.card-header h4::before {
    content: "\25bc";
    margin-right: 0.2em;
    float: left;
    color: grey;
    transition: transform 0.4s ease-in-out;
}

.card-header.collapsed h4::before {
    transform: rotate(-90deg);
    transition: transform 0.4s ease-in-out;
}

.card-header.step-header, .card-header.manual-collapse {
    cursor: pointer;
}

blockquote {
    font-size: inherit;
    border-left: double gray 5px;
    padding-left: 1em;
}

div.card-body a, div.card-body a:visited, div.card-body a:active, div.card-body a:hover {
    color: inherit;
    border-bottom: 2px cadetblue dotted;
    text-decoration: inherit;
}

div.card-body a:hover {
    background-color: lightgray;
    cursor: pointer;
}

[data-theme=dark] div.card-body a:hover {
    background-color: #333;
}

@keyframes blinking {
    0%   {opacity: 0.3}
    100% {opacity: 1.0}
}

.highlighted-blinking {
    animation-name: blinking;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    border-color: firebrick;
    border-width: thick;
}

.language-flag {
    top: 0;
    right: 0;
    width: 20px;
    height: 1.5em;
    margin-right: 0.5em;
    margin-top: -5px;
    cursor: pointer;
}

.dark-switch-container {
    display: inline
}

.dark-switch-container i {
    position: absolute;
    top: 4px;
    left: -2px;
}


/* CSS for displaying latex-generated lists */
div > ol {
    list-style-type: none;
    counter-reset: enumeratei;
}

div > ol > li > ol {
    list-style-type: none;
    counter-reset: enumerateii;
}

div > ol > li > ol > li > ol {
    list-style-type: none;
    counter-reset: enumerateiii;
}

div > ol > li:before {
    counter-increment: enumeratei;
    content: counter(enumeratei) ". ";
}

div > ol > li > ol > li:before {
    counter-increment: enumerateii;
    content: counter(enumeratei) "." counter(enumerateii) ". ";
}

div > ol > li > ol > li > ol > li:before {
    counter-increment: enumerateiii;
    content: counter(enumeratei) "." counter(enumerateii) "." counter(enumerateiii) ". ";
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#searchInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#loadingToast {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lds-spinner {
    color: grey;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.lds-spinner div {
    transform-origin: 20px 20px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 2px;
    left: 17px;
    width: 6px;
    height: 8px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}